
body{
    
    background: url("https://image.freepik.com/vector-gratis/fondo-pintura-acuarela-rosa-vibrante_53876-58930.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background: aquamarine;
    padding: 50px;
    border: 10px dotted;
    margin: auto;
    width: 50%;
    /*display: flex;
    align-items: center;
    justify-content: center;*/

}
.divClass{
    margin: auto;
    width: 50%;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    
}
#spanId{
    font-size: 18px;
    margin: 50px;
}
h1{
    color: mediumblue;
}
img{
    width: 400px;
}